@charset "utf-8";
/**/

body {-webkit-backface-visibility: hidden;}
.animate_css {webkit-animation:1s .2s ease both;}

.flash {-webkit-animation-name: flash;animation-name: flash;}
.shake {-webkit-animation-name: shake;animation-name: shake;}
.bounce {-webkit-animation-name: bounce;animation-name: bounce;}
.tada {-webkit-animation-name: tada;animation-name: tada;}
.swing {-webkit-transform-origin: top center;transform-origin: top center;-webkit-animation-name: swing;animation-name: swing;}
.wobble {-webkit-animation-name: wobble;animation-name: wobble;}
.pulse {-webkit-animation-name: pulse;animation-name: pulse;}
.flip {
-webkit-backface-visibility: visible !important;
-webkit-animation-name: flip;
backface-visibility: visible !important;
animation-name: flip;
}
.flipInX {
-webkit-backface-visibility: visible !important;
-webkit-animation-name: flipInX;
backface-visibility: visible !important;
animation-name: flipInX;
}
.flipOutX {
-webkit-animation-name: flipOutX;
-webkit-backface-visibility: visible !important;
animation-name: flipOutX;
backface-visibility: visible !important;
}
.flipInY {
-webkit-backface-visibility: visible !important;
-webkit-animation-name: flipInY;
backface-visibility: visible !important;
animation-name: flipInY;
}
.flipOutY {
-webkit-backface-visibility: visible !important;
-webkit-animation-name: flipOutY;
backface-visibility: visible !important;
animation-name: flipOutY;
}
.fadeIn {-webkit-animation-name: fadeIn;animation-name: fadeIn;}
.fadeInUp {-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
.fadeInDown {-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}
.fadeInLeft {-webkit-animation-name: fadeInLeft;animation-name: fadeInLeft;}
.fadeInRight {-webkit-animation-name: fadeInRight;animation-name: fadeInRight;}
.fadeInUpBig {-webkit-animation-name: fadeInUpBig;animation-name: fadeInUpBig;}
.fadeInDownBig {-webkit-animation-name: fadeInDownBig;animation-name: fadeInDownBig;}
.fadeInLeftBig {-webkit-animation-name: fadeInLeftBig;animation-name: fadeInLeftBig;}
.fadeOut {-webkit-animation-name: fadeOut;animation-name: fadeOut;}
.fadeOutUp {-webkit-animation-name: fadeOutUp;animation-name: fadeOutUp;}
.fadeOutDown {-webkit-animation-name: fadeOutDown;animation-name: fadeOutDown;}
.fadeOutLeft {-webkit-animation-name: fadeOutLeft;animation-name: fadeOutLeft;}
.fadeOutRight {-webkit-animation-name: fadeOutRight;animation-name: fadeOutRight;}
.fadeOutUpBig {-webkit-animation-name: fadeOutUpBig;animation-name: fadeOutUpBig;}
.fadeOutDownBig {-webkit-animation-name: fadeOutDownBig;animation-name: fadeOutDownBig;}
.fadeOutLeftBig {-webkit-animation-name: fadeOutLeftBig;animation-name: fadeOutLeftBig;}
.fadeOutRightBig {-webkit-animation-name: fadeOutRightBig;animation-name: fadeOutRightBig;}
.bounceIn {-webkit-animation-name: bounceIn;animation-name: bounceIn;}
.bounceInUp {-webkit-animation-name: bounceInUp;animation-name: bounceInUp;}
.bounceInDown {-webkit-animation-name: bounceInDown;animation-name: bounceInDown;}
.bounceInLeft {-webkit-animation-name: bounceInLeft;animation-name: bounceInLeft;}
.bounceInRight {-webkit-animation-name: bounceInRight;animation-name: bounceInRight;}
.bounceOut {-webkit-animation-name: bounceOut;animation-name: bounceOut;}
.bounceOutUp {-webkit-animation-name: bounceOutUp;animation-name: bounceOutUp;}
.bounceOutDown {-webkit-animation-name: bounceOutDown;animation-name: bounceOutDown;}
.bounceOutLeft {-webkit-animation-name: bounceOutLeft;animation-name: bounceOutLeft;}
.bounceOutRight {-webkit-animation-name: bounceOutRight;animation-name: bounceOutRight;}
.rotateIn {-webkit-animation-name: rotateIn;animation-name: rotateIn;}
.rotateInUpLeft {-webkit-animation-name: rotateInUpLeft;animation-name: rotateInUpLeft;}
.rotateInDownLeft {-webkit-animation-name: rotateInDownLeft;animation-name: rotateInDownLeft;}
.rotateInUpRight {-webkit-animation-name: rotateInUpRight;animation-name: rotateInUpRight;}
.rotateInDownRight {-webkit-animation-name: rotateInDownRight;animation-name: rotateInDownRight;}
.rotateOut {-webkit-animation-name: rotateOut;animation-name: rotateOut;}
.rotateOutUpLeft {-webkit-animation-name: rotateOutUpLeft;animation-name: rotateOutUpLeft;}
.rotateOutDownLeft {-webkit-animation-name: rotateOutDownLeft;animation-name: rotateOutDownLeft;}
.rotateOutUpRight {-webkit-animation-name: rotateOutUpRight;animation-name: rotateOutUpRight;}
.rotateOutDownRight {-webkit-animation-name: rotateOutDownRight;animation-name: rotateOutDownRight;}
.hinge {-webkit-animation-name: hinge;animation-name: hinge;}
.rollIn {-webkit-animation-name: rollIn;animation-name: rollIn;}
.rollOut {-webkit-animation-name: rollOut;animation-name: rollOut;}
.lightSpeedIn {-webkit-animation-name: lightSpeedIn;animation-name: lightSpeedIn;}
.lightSpeedOut {-webkit-animation-name: lightSpeedOut;animation-name: lightSpeedOut;}
.wiggle {-webkit-animation-name: wiggle;animation-name: wiggle;}


@-webkit-keyframes flash {
0%, 50%, 100% {opacity: 1;} 
25%, 75% {opacity: 0;}
}


@-webkit-keyframes shake {
0%, 100% {-webkit-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}


@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
40% {-webkit-transform: translateY(-30px);}
60% {-webkit-transform: translateY(-15px);}
}


@-webkit-keyframes tada {
0% {-webkit-transform: scale(1);} 
10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
100% {-webkit-transform: scale(1) rotate(0);}
}

@-webkit-keyframes swing {
20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
20% { -webkit-transform: rotate(15deg); } 
40% { -webkit-transform: rotate(-10deg); }
60% { -webkit-transform: rotate(5deg); }  
80% { -webkit-transform: rotate(-5deg); } 
100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes wobble {
0% { -webkit-transform: translateX(0%); }
15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
30% { -webkit-transform: translateX(20%) rotate(3deg); }
45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
60% { -webkit-transform: translateX(10%) rotate(2deg); }
75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes pulse {
0% { -webkit-transform: scale(1); } 
50% { -webkit-transform: scale(1.1); }
100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes flip {
0% {
-webkit-transform: perspective(400px) rotateY(0);
-webkit-animation-timing-function: ease-out;
}
40% {
-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
-webkit-animation-timing-function: ease-out;
}
50% {
-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
-webkit-animation-timing-function: ease-in;
}
80% {
-webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
-webkit-animation-timing-function: ease-in;
}
100% {
-webkit-transform: perspective(400px) scale(1);
-webkit-animation-timing-function: ease-in;
}
}

@-webkit-keyframes flipInX {
0% {
-webkit-transform: perspective(400px) rotateX(90deg);
opacity: 0;
}

40% {
-webkit-transform: perspective(400px) rotateX(-10deg);
}

70% {
-webkit-transform: perspective(400px) rotateX(10deg);
}

100% {
-webkit-transform: perspective(400px) rotateX(0deg);
opacity: 1;
}
}

@-webkit-keyframes flipOutX {
0% {
-webkit-transform: perspective(400px) rotateX(0deg);
opacity: 1;
}
100% {
-webkit-transform: perspective(400px) rotateX(90deg);
opacity: 0;
}
}

@-webkit-keyframes flipInY {
0% {
-webkit-transform: perspective(400px) rotateY(90deg);
opacity: 0;
}

40% {
-webkit-transform: perspective(400px) rotateY(-10deg);
}

70% {
-webkit-transform: perspective(400px) rotateY(10deg);
}

100% {
-webkit-transform: perspective(400px) rotateY(0deg);
opacity: 1;
}
}

@-webkit-keyframes flipOutY {

0% {
-webkit-transform: perspective(400px) rotateY(0deg);
opacity: 1;
}
100% {
-webkit-transform: perspective(400px) rotateY(90deg);
opacity: 0;
}
}

@-webkit-keyframes fadeIn {
0% {opacity: 0;}  
100% {opacity: 1;}
}

@-webkit-keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translateY(20px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-webkit-keyframes fadeInDown {
0% {
opacity: 0;
-webkit-transform: translateY(-20px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}

@-webkit-keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translateX(-20px);
}

100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}


@-webkit-keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translateX(20px);
}

100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}

@-webkit-keyframes fadeInUpBig {
0% {
opacity: 0;
-webkit-transform: translateY(2000px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}


@-webkit-keyframes fadeInDownBig {
0% {
opacity: 0;
-webkit-transform: translateY(-2000px);
}

100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}


@-webkit-keyframes fadeInLeftBig {
0% {
opacity: 0;
-webkit-transform: translateX(-2000px);
}

100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}

@-webkit-keyframes fadeInRightBig {
0% {
opacity: 0;
-webkit-transform: translateX(2000px);
}

100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}


.fadeInRightBig {
-webkit-animation-name: fadeInRightBig;
animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeOut {
0% {opacity: 1;}
100% {opacity: 0;}
}


@-webkit-keyframes fadeOutUp {
0% {
opacity: 1;
-webkit-transform: translateY(0);
}

100% {
opacity: 0;
-webkit-transform: translateY(-20px);
}
}

@-webkit-keyframes fadeOutDown {
0% {
opacity: 1;
-webkit-transform: translateY(0);
}

100% {
opacity: 0;
-webkit-transform: translateY(20px);
}
}


@-webkit-keyframes fadeOutLeft {
0% {
opacity: 1;
-webkit-transform: translateX(0);
}

100% {
opacity: 0;
-webkit-transform: translateX(-20px);
}
}


@-webkit-keyframes fadeOutRight {
0% {
opacity: 1;
-webkit-transform: translateX(0);
}

100% {
opacity: 0;
-webkit-transform: translateX(20px);
}
}

@-webkit-keyframes fadeOutUpBig {
0% {
opacity: 1;
-webkit-transform: translateY(0);
}

100% {
opacity: 0;
-webkit-transform: translateY(-2000px);
}
}

@-webkit-keyframes fadeOutDownBig {
0% {
opacity: 1;
-webkit-transform: translateY(0);
}

100% {
opacity: 0;
-webkit-transform: translateY(2000px);
}
}

@-webkit-keyframes fadeOutLeftBig {
0% {
opacity: 1;
-webkit-transform: translateX(0);
}

100% {
opacity: 0;
-webkit-transform: translateX(-2000px);
}
}


@-webkit-keyframes fadeOutRightBig {
0% {
opacity: 1;
-webkit-transform: translateX(0);
}

100% {
opacity: 0;
-webkit-transform: translateX(2000px);
}
}

@-webkit-keyframes bounceIn {
0% {
opacity: 0;
-webkit-transform: scale(.3);
}

50% {
opacity: 1;
-webkit-transform: scale(1.05);
}

70% {
-webkit-transform: scale(.9);
}

100% {
-webkit-transform: scale(1);
}
}


@-webkit-keyframes bounceInUp {
0% {
opacity: 0;
-webkit-transform: translateY(2000px);
}

60% {
opacity: 1;
-webkit-transform: translateY(-30px);
}

80% {
-webkit-transform: translateY(10px);
}

100% {
-webkit-transform: translateY(0);
}
}

@-webkit-keyframes bounceInDown {
0% {
opacity: 0;
-webkit-transform: translateY(-2000px);
}

60% {
opacity: 1;
-webkit-transform: translateY(30px);
}

80% {
-webkit-transform: translateY(-10px);
}

100% {
-webkit-transform: translateY(0);
}
}


@-webkit-keyframes bounceInLeft {
0% {
opacity: 0;
-webkit-transform: translateX(-2000px);
}

60% {
opacity: 1;
-webkit-transform: translateX(30px);
}

80% {
-webkit-transform: translateX(-10px);
}

100% {
-webkit-transform: translateX(0);
}
}


@-webkit-keyframes bounceInRight {
0% {
opacity: 0;
-webkit-transform: translateX(2000px);
}

60% {
opacity: 1;
-webkit-transform: translateX(-30px);
}

80% {
-webkit-transform: translateX(10px);
}

100% {
-webkit-transform: translateX(0);
}
}


@-webkit-keyframes bounceOut {
0% {
-webkit-transform: scale(1);
}

25% {
-webkit-transform: scale(.95);
}

50% {
opacity: 1;
-webkit-transform: scale(1.1);
}

100% {
opacity: 0;
-webkit-transform: scale(.3);
} 
}

@-webkit-keyframes bounceOutUp {
0% {
-webkit-transform: translateY(0);
}

20% {
opacity: 1;
-webkit-transform: translateY(20px);
}

100% {
opacity: 0;
-webkit-transform: translateY(-2000px);
}
}


@-webkit-keyframes bounceOutDown {
0% {
-webkit-transform: translateY(0);
}

20% {
opacity: 1;
-webkit-transform: translateY(-20px);
}

100% {
opacity: 0;
-webkit-transform: translateY(2000px);
}
}


@-webkit-keyframes bounceOutLeft {
0% {
-webkit-transform: translateX(0);
}

20% {
opacity: 1;
-webkit-transform: translateX(20px);
}

100% {
opacity: 0;
-webkit-transform: translateX(-2000px);
}
}


@-webkit-keyframes bounceOutRight {
0% {
-webkit-transform: translateX(0);
}

20% {
opacity: 1;
-webkit-transform: translateX(-20px);
}

100% {
opacity: 0;
-webkit-transform: translateX(2000px);
}
}

@-webkit-keyframes rotateIn {
0% {
-webkit-transform-origin: center center;
-webkit-transform: rotate(-200deg);
opacity: 0;
}

100% {
-webkit-transform-origin: center center;
-webkit-transform: rotate(0);
opacity: 1;
}
}

@-webkit-keyframes rotateInUpLeft {
0% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(90deg);
opacity: 0;
}

100% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(0);
opacity: 1;
}
}

@-webkit-keyframes rotateInDownLeft {
0% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(-90deg);
opacity: 0;
}

100% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(0);
opacity: 1;
}
}

@-webkit-keyframes rotateInUpRight {
0% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(-90deg);
opacity: 0;
}

100% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(0);
opacity: 1;
}
}


@-webkit-keyframes rotateInDownRight {
0% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(90deg);
opacity: 0;
}

100% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(0);
opacity: 1;
}
}

@-webkit-keyframes rotateOut {
0% {
-webkit-transform-origin: center center;
-webkit-transform: rotate(0);
opacity: 1;
}

100% {
-webkit-transform-origin: center center;
-webkit-transform: rotate(200deg);
opacity: 0;
}
}

@-webkit-keyframes rotateOutUpLeft {
0% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(0);
opacity: 1;
}

100% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(-90deg);
opacity: 0;
}
}

@-webkit-keyframes rotateOutDownLeft {
0% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(0);
opacity: 1;
}

100% {
-webkit-transform-origin: left bottom;
-webkit-transform: rotate(90deg);
opacity: 0;
}
}

@-webkit-keyframes rotateOutUpRight {
0% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(0);
opacity: 1;
}

100% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(90deg);
opacity: 0;
}
}


@-webkit-keyframes rotateOutDownRight {
0% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(0);
opacity: 1;
}

100% {
-webkit-transform-origin: right bottom;
-webkit-transform: rotate(-90deg);
opacity: 0;
}
}


@-webkit-keyframes hinge {
0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }  
20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }  
40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
100% { -webkit-transform: translateY(700px); opacity: 0; }
}


@-webkit-keyframes rollIn {
0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); }
100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); }
}


@-webkit-keyframes rollOut {
0% {
opacity: 1;
-webkit-transform: translateX(0px) rotate(0deg);
}

100% {
opacity: 0;
-webkit-transform: translateX(100%) rotate(120deg);
}
}


@-webkit-keyframes lightSpeedIn {
0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; }
80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; }
100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}



@-webkit-keyframes lightSpeedOut {
0% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
100% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
}


@-webkit-keyframes wiggle {
0% { -webkit-transform: skewX(9deg); }
10% { -webkit-transform: skewX(-8deg); }
20% { -webkit-transform: skewX(7deg); }
30% { -webkit-transform: skewX(-6deg); }
40% { -webkit-transform: skewX(5deg); }
50% { -webkit-transform: skewX(-4deg); }
60% { -webkit-transform: skewX(3deg); }
70% { -webkit-transform: skewX(-2deg); }
80% { -webkit-transform: skewX(1deg); }
90% { -webkit-transform: skewX(0deg); }
100% { -webkit-transform: skewX(0deg); }
}
