/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0}
div {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
input {outline: 0;font-size: 14px;margin: 0;padding: 0;box-sizing: border-box;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust: none}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
a, input, select, button, textarea {font-family: 'Microsoft YaHei', arial, helvetica, sans-serif}
a {text-decoration: none;color: #3990e6}
body {font-family: 'Microsoft YaHei', arial, helvetica, sans-serif;-webkit-text-size-adjust: none;-webkit-user-select: none;font-size: 14px;background: #fff;}
ol, ul {list-style: none}
blockquote, q {quotes: none}
img, table {border: 0}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none}
ins {text-decoration: none}
del {text-decoration: line-through}
select {background: #fff;}
table {border-collapse: collapse;border-spacing: 0}
.fr {float: right}
.fl {float: left}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-moz-appearance: none;-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0;border: 0}
.clearfix:after, .main_card:after, .eidt_content_list:after {content: '\0020';display: block;height: 0;clear: both}
.clearfix {*zoom: 1}
.hide, .v-hide {display: none !important;}

/* swiper初始样式 */
html, body{width: 100%;height: 100%;position: relative;}
.swiper-container{width: 100%;height: 100%;}
.swiper-container .swiper-wrapper{width: 100%;height: 100%;}
.swiper-container .swiper-wrapper .swiper-slide{position: relative;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;}
.swiper-container .swiper-wrapper .swiper-slide .items_con{}



/* 分享图隐藏 */
.shareImgWrap{display: none;}

/* 箭头 */
#arrow{z-index: 1000;position: fixed;}
#arrow img{display: block;width: 100%;height: 100%;}
.vertical_arrow{-webkit-animation: upArrow 1.5s ease both infinite;width: 20px;height: 17px;margin-left: -10px;bottom: 0;left: 50%;}
.vertical_arrow img{}
.horizontal_arrow{-webkit-animation: rightArrow 2s ease both infinite;width: 17px;height: 20px;margin-left: -10px;bottom: 20px;right: 20px;}
.horizontal_arrow img{}
@-webkit-keyframes upArrow{
	0%{opacity: 0;}
	50%{-webkit-transform: translate3d(0, -15px, 0);opacity: 1;}
	100%{-webkit-transform: translate3d(0, -25px, 0);opacity: 0;}
}
@-webkit-keyframes rightArrow{
	0%{opacity: 1;-webkit-transform: translate3d(0, 0, 0) rotateZ(90deg);}
	50%{-webkit-transform: translate3d(-15px, 0, 0) rotateZ(90deg);opacity: 0;}
	100%{-webkit-transform: translate3d(0, 0, 0) rotateZ(90deg);opacity: 1;}
}

/* 音乐按钮 */
.audio_btn{display: block;position: fixed;width: 30px;height: 30px;right: 20px;top: 20px;z-index: 99999;}
.audio_btn.play{animation: play 1.5s linear both infinite;-webkit-animation: play 1.5s linear both infinite;}
.audio_btn.pause{}
@-webkit-keyframes play{
	0%{transform: rotate(0deg);-webkit-transform: rotate(0deg);}
	100%{transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}

/* 定位 */
.vertical_center {position: absolute;top: 50%;-webkit-transform: translateY(-50%);}
.horizontal_center {position: absolute;left: 50%;-webkit-transform: translateX(-50%);}
.all_center {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);}



