# OSX
.DS_Store

# Android/IJ
.idea
.gradle
local.properties
.project

# Vim
*.swp

# node.js
node_modules/
npm-debug.log

# custom
User/UploadImg/*
User/UploadMusic/*
!User/UploadImg/.empty
!User/UploadMusic/.empty
RESTful_API/db/config.js
