module.exports = {
	dev: {
		host: 'localhost',
		port: '27017',
		username: '',
		password: '',
		database: 'goh5'
	},
	pro: {
		host: '',
		port: '',
		username: '',
		password: '',
		database: 'goh5'
	}
};
